@font-face {
    font-family: "Forte";
    src:
        url("/assets/fonts/FORTE.ttf") format("trueType");
}

html,
body {
    position: relative;
    justify-self: center;
}

body {
    background-image: url(/assets/backgrounds/background-1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-width: max-content;
}

.main {
    display: flex;
    position: relative;
    justify-content: center;
}

.setup {
    position: absolute;
    transition: 0.4s;
    font-family: cursive, monospace, sans-serif;
    font-weight: 500;
    color: maroon;
    z-index: 99999999;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    font-size: xx-small;
}


.settingsBar {
    position: absolute;
    box-shadow: 0 0 5px rgb(151 236 255 / 93%);
    z-index: 10000;
    background: rgb(217 255 251 / 62%);
    padding: 13px 10px 13px 18px;
    margin: 10px 10px 10px 10px;
    align-self: self-start;
    justify-self: flex-end;
    /* justify-items: center; */
}

span.soundsettings {
    display: inline-grid;
    padding: 5px;
    border: 1px solid #fff20078;
    background-color: rgb(211 188 95 / 83%);
    font-family: cursive, monospace, sans-serif;
    justify-items: anchor-center;
}

#volume .rs-range-color {
    background: radial-gradient(ellipse at bottom, rgba(0, 0, 0, 1) 0%, rgba(48, 7, 36, 1) 34%, rgba(255, 255, 255, 1) 66%, rgba(0, 0, 0, 1) 100%);
}

#volume .rs-path-color {
    background: radial-gradient(ellipse at bottom, rgba(255, 255, 255, 1) 0%, rgba(169, 173, 174, 1) 34%, rgba(255, 255, 255, 1) 66%, rgba(5, 0, 0, 1) 100%);
}

#volume .rs-handle {
    background: radial-gradient(ellipse at center, rgba(228, 228, 228, 1) 0%, rgba(179, 179, 179, 1) 34%, rgb(102, 91, 98) 100%);
}

#volume .rs-border {
    border-color: white;
}

#tanbou {
    --vert: 3em;
}

.tanbou {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
}

#svg1 {
    position: absolute;
    top: 10vh;
    }

footer {
    font-family: cursive, monospace, sans-serif;
    font-weight: 500;
    color: maroon;
    background-color: rgb(217 255 251 / 62%);
    align-content: center;
    align-items: center;
    justify-items: center;
    display: grid;
    overflow: visible;
    position: fixed;
    font-size: xx-small;
    grid-template-columns: 11% 88%;
    grid-template-rows: 8em;
    width: 100%;
    height: 12vh;
    bottom: 0em;
    left: 0em;
}

#social_icons {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
    opacity: 1;
    text-align: center;
    font-size: smaller;
}

.fa.fa-facebook {
    color: blue;
}

.fa.fa-linkedin {
    color: blue;
}

.fa.fa-whatsapp {
    color: green;
}

.fa.fa-github {
    color: black;
}

#footer_line {
    display: flex;
    opacity: 1;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0px;
    line-height: normal;
    justify-content: center;
}

.logo {
    position: static;
    width: 11vh;
    align-self: center;
}

#logo_image {
    width: 100%;
}

#name_banner {
    width: 92%;
}

#settings {
    width: 12%;
}